.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1261px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  background-image: none;
  margin: 15px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  width: 559px;
  margin: 137px auto 0;
}

.u-section-1 .u-text-3 {
  width: 559px;
  font-weight: 700;
  margin: 86px auto 0;
}

.u-section-1 .u-image-1 {
  width: 88px;
  height: 88px;
  margin: 73px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  width: 559px;
  margin: 28px auto 60px;
}

.u-section-1 .u-btn-1 {
  font-size: 1rem;
  padding: 0;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.125rem;
    width: auto;
    margin-top: 14px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    font-weight: normal;
    width: auto;
    margin-top: 34px;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 34px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 67px;
    height: 67px;
    margin-top: 34px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin: 15px 0 14px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
  }
}